html {
  font-family: sans-serif;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
}

div {
  background-color: black;
  color: white;
  padding: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
.song {
  background-color: blue;

}

.stagenote {
  font-style: italic;
}

.mary {
  background-color: lightgreen;
}

.joseph {
  background-color: green;
}

.angel {
  background-color:  yellow;
  color: black;
}

.shepherd {
  background-color: red;
  color: pink;
}

.wiseman {
  background-color:  pink;
  color: red;
}

.innkeeper {

}

.narrator1 {
  background-color: lightblue;
}

.narrator2 {
  background-color: lightblue;
}

.camel {
  background-color: brown;
}
