// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "normalize";
//@import "modules/toast";
@import "colours";
@import "typography";


.spacer{
	min-height: 75vh;
}

body {
	background-color:  rgba($lblue, 0.25);
}

.adminbar {
	background-color: $green;
	display: flex;
	justify-content: center;
}

.content-container{
	margin: 0 1.25rem;
	min-height: 75vh;
}
.container{
	background-color:  rgba(white, 0.4);
	max-width: 960px;
	margin: 0 auto;
}

.nav-banner {
	align: centre;
}

.header-banner {
 display:flex;
 align-items: flex-end;
 justify-content: space-around;
// min-height: 12vh;
}

.header-logo {
	flex-basis: 15%;
	padding: 0.5rem 0;
 img{
	 max-width: 100%;
 }
}

.FIEC-logo{
	flex-basis: 15%;
	padding: 0.5rem 0;
	align-self: flex-start;
  img{
 	 max-width: 100%;
  }
}

.navbar {
	display: flex;
	align-items: center;
}

.nav-link{
	flex-grow: 1;
	color: $orange;
	text-align: center;
	padding: .5em 0;
	background-color: $lblue;
	border-top: solid .25em $blue;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 800;

	&:hover{
		background-color: $orange;
		color: $lblue;
	}
}
.footer-container{
	display: flex;
}

.footer-colours{
	padding: 0;
	height: 8rem;
	flex-grow: 1 ;
	border-top: solid 0.25em;

//	@media (max-width: 320px){
//	height: 10vh;
//	}

}
.bg-magenta{
	background-color: rgba($magenta,0.5);
	border-top-color: $magenta;
}
.bg-blue{
	background-color: rgba($blue,0.5);
	border-top-color: rgba($blue,0.5);
}
.bg-lblue{
	background-color: rgba($lblue,0.5);
	border-top-color: $lblue;
}
.bg-green{
	background-color: rgba($green,0.5);
	border-top-color: $green;
}
.bg-orange{
	background-color: rgba($orange,0.5);
	border-top-color: $orange;
}
