// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "normalize";
//@import "modules/toast";
@import "colours";
@import "typography";
@import "forms";
@import "modules/MailChimp";
@import "bordersAndLines";


.spacer{
	min-height: 75vh;
}
body {
	background-color:  rgba($lblue, 0.25);
}

.adminbar {
	background-color: $green;
	padding: 0 0.5rem;
	display: flex;
	justify-content: flex-end;


	a {
		color: $orange;

		&:hover{
			color: $blue;
		}
	}
}

.content-container{
	margin: 1rem 1.25rem;
	width: calc(65% - 2.6rem);
	display: inline-block;
	float:left;
	@media(max-width: 375px){
		width: calc(100% - 5rem);
		margin: 2rem 2.5rem;
	}
}
.sidebar-container{
		margin: 1rem 1.25rem;
		width: calc(35% - 2.6rem);
		display: inline-block;
		// background-color: $lblue;
		@media(max-width: 375px){
			width: 100%;
			margin: 0;
	}
	hr{
		display: none;
		height: 0.5rem;
		@media(max-width: 375px){
			display:block;
		}
	}
}

.events-container{
	padding: calc(1.25rem - 1px);
	width: calc(50rem -10px);
	box-sizing: border-box;
	@media(max-width: 375px){
		width: 80%;
		margin: 0 auto;
	}
}

.container{
	background-color:  rgba(white, 0.4);
	max-width: 960px;
	height: auto;
	min-height: 100vh;
	margin: 0 auto;
}

.nav-banner {
	align: centre;
}

.header-banner {
 display:flex;
 align-items: flex-end;
 justify-content: space-between;
// min-height: 12vh;
}

.header-logo {
	width: 15%;
	padding: 0.5rem;
 img{
	 max-width: 100%;
 }
}

.FIEC-logo{
	width: 15%;
	padding: 0.5rem;
	align-self: flex-end;
  img{
 	 max-width: 100%;
  }
}

.navbar {
	display: flex;
	align-items: center;
}

.nav-link{
	flex-grow: 1;
	color: $orange;
	text-align: center;
	padding: .5em 0;
	background-color: $lblue;
	border-top: solid .25em $blue;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 800;

	&:hover{
		background-color: $orange;
		color: $lblue;
	}
}
.footer-container{
	clear:both;
	display: block;
	padding: 0;
	min-height: 8rem;
	width: 100%;
	flex-grow: 1 ;
	background: linear-gradient(to right,
  rgba($green,0.5) 0%,
  rgba($green,0.5) 20%,
  rgba($blue,0.5) 20%,
  rgba($blue,0.5) 40%,
  rgba($magenta,0.5) 40%,
  rgba($magenta,0.5) 60%,
  rgba($lblue,0.5) 60%,
  rgba($lblue,0.5) 80%,
  rgba($orange,0.5) 80%,
  rgba($orange,0.5) 100%
  );
	h3{
		margin: 0 auto;
		text-align: center;
		padding: 2rem 0 1rem 0;
		color: white;
	}
	p{
		margin: 0 auto;
		padding-bottom: 2rem;
		text-align: center;
		color: white;
	}
	a{
			color: white;
			&:hover{
				color: $orange;
			}
		}
	span{
		margin: 0 0.75rem;
	}
}

.footer-colours{
	padding: 0;
	height: 8rem;
	flex-grow: 1 ;
	border-top: solid 0.25em;
}

img{
	max-width: 50%;
	float: left;
	margin: 0 0.75rem 0.75rem 0;
	@media(max-width: 375px){
		max-width: 90%;
		margin: 2rem auto;
		display: block;
		float: none;
	}
}
